lab2 XML/do_it_yoursefl/ex2.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml21" xmlns="http://xml21" elementFormDefault="qualified">
    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="movieTitle" type="xs:string"/>
                <xs:element name="movieLength" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>